<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <context-param>
        <param-name>org.eclipse.jetty.servlet.SessionCookie</param-name>
        <param-value>EOBROKERID</param-value>
    </context-param>
    <context-param>
        <param-name>org.eclipse.jetty.servlet.SessionIdPathParameterName</param-name>
        <param-value>xsessionid</param-value>
    </context-param>
    <context-param>
        <param-name>org.eclipse.jetty.servlet.SessionPath</param-name>
        <param-value>/</param-value>
    </context-param>

    <session-config>
        <session-timeout>10000</session-timeout>
    </session-config>

    <listener>
        <listener-class>com.geocento.webapps.eobroker.common.server.ContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
        <init-param>
            <param-name>useFileMappedBuffer</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>NoCacheServlet</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
        <init-param>
            <param-name>cacheControl</param-name>
            <param-value>public, max-age=0, must-revalidate</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>RestAPICustomer</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
                com.geocento.webapps.eobroker.customer.server.servlets
            </param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>RestAPISupplier</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
                com.geocento.webapps.eobroker.supplier.server.servlets
            </param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>RestAPIAdmin</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
                com.geocento.webapps.eobroker.admin.server.servlets
            </param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>com.geocento.webapps.eobroker.supplier.server.servlets.FileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeometryUploadServlet</servlet-name>
        <servlet-class>com.geocento.webapps.eobroker.common.server.servlets.GeometryUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUploadServlet</servlet-name>
        <servlet-class>com.geocento.webapps.eobroker.supplier.server.servlets.ImageUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatasetUploadServlet</servlet-name>
        <servlet-class>com.geocento.webapps.eobroker.supplier.server.servlets.DatasetUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proxy</servlet-name>
        <servlet-class>com.geocento.webapps.eobroker.customer.server.servlets.ProxyServlet</servlet-class>
<!--
        <init-param>
            <param-name>host_list</param-name>
            <param-value>127.0.0.1,localhost,eobroker.com</param-value>
        </init-param>
-->
    </servlet>
    <servlet-mapping>
        <servlet-name>NoCacheServlet</servlet-name>
        <url-pattern>*.nocache.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestAPICustomer</servlet-name>
        <url-pattern>/customer/api/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestAPISupplier</servlet-name>
        <url-pattern>/supplier/api/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestAPIAdmin</servlet-name>
        <url-pattern>/admin/api/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/uploaded/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeometryUploadServlet</servlet-name>
        <url-pattern>/upload/geometry/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUploadServlet</servlet-name>
        <url-pattern>/upload/image/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatasetUploadServlet</servlet-name>
        <url-pattern>/upload/datasets/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proxy</servlet-name>
        <url-pattern>/proxy</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>eobroker.html</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/pages/PageNotFound.html</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/pages/PageError.html</location>
    </error-page>

</web-app>
